<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	

</head>
<body >
<div id="codeTankWrapper" class="wrapper codeTank">
		
<!-- POPUP WINDOW -->
<script id="popupPanelTmpl" type="text/template">
	<header>
		<button cmd="closePopupPanel" param="<%=panelId%>" class="panelCloseButton">X</button>
		<h1 title="<%=title%>"><%=titleText%></h1>
	</header>
	<section>
	<%=html%>
	</section>
<% if(buttons){ %>
	<footer>
	<% for(var i in buttons){ %>
		<button cmd="<%=buttons[i].cmd %>" param="<%=panelId%>" class="panelButton"><%=buttons[i].text %></button>
	<% } %>
	</footer>
<% } %>
<% if(footerText){ %>
	<footer>
	<%= footerText %>
	</footer>
<% } %>
</script>
<!-- END POPUP WINDOW -->
<!-- Account -->
<script id="loginPanel" type="text/template">
<form>
	<p class="uidArea"><input id="loginUid" class="input" placeholder="USERNAME" title="USERNAME" cmd="validate"><span class="tips"></span></p>
	<p class="pwdArea"><input id="loginPwd" type="password" class="input" placeholder="PASSWORD" title="PASSWORD" cmd="validate"><span class="tips"></span></p>
	<p class="buttonArea"><button cmd="login" class="panelButton">登　录</button></p>
</form>
</script>
<script id="signupPanel" type="text/template">
<form>
	<p class="uidArea"><input id="signupUid" class="input" placeholder="USERNAME" title="USERNAME" cmd="validate"><span class="tips"></span></p>
	<p><input id="signupPwd" type="password" class="input" placeholder="PASSWORD" title="PASSWORD" cmd="validate"><span class="tips"></span></p>
	<p><input id="signupConfirmPwd" type="password" class="input" placeholder="CONFIRM PASSWORD" title="CONFIRM PASSWORD" cmd="validate"><span class="tips"></span></p>
	<p><input id="signupEmail" type="email" class="input" placeholder="EMAIL" title="EMAIL" cmd="validate"><span class="tips"></span></p>
	<p><button cmd="signup" class="panelButton">注　册</button></p>
</form>
</script>
<!-- end Account -->

<!-- ROBOT SETTING -->
<script id="robotSetting" type="text/template">
<form>
	<fieldset>
		<legend><h3>系统设置</h3></legend>
		<dl>
			<dt><input id="sound" name="sound" type="checkbox" checked="checked" /></dt>
			<dd><label for="sound">声音</label></dd>
			<dt><input id="radar" name="radar" type="checkbox" checked="checked" /></dt>
			<dd><label for="radar">显示雷达扫描范围</label></dd>
			<dt><input id="msgBox" name="msgBox" type="checkbox" checked="checked" /></dt>
			<dd><label for="msgBox">显示对话气泡</label></dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend><h3>战场设置</h3></legend>
		<div class="row">
			<h4>背景</h4>
			<div id="battlegroundList" class="battlegroundList" cmd="void"></div>
            <h4>尺寸</h4>
			<ul id="battleSizeList" class="battleSizeList"></ul>
		</div>
	</fieldset>
</form>
</script>
	<!--	JX 框架	-->
	<script out="js/jx.all.js" src="js/jx/jx.core.js"></script>
	<script out="js/jx.all.js" src="js/jx/jx.base.js"></script>
	<script out="js/jx.all.js" src="js/jx/jx.dom.js"></script>
	<script out="js/jx.all.js" src="js/jx/jx.browser.js"></script>
	<script out="js/jx.all.js" src="js/jx/jx.event.js"></script>
	<script out="js/jx.all.js" src="js/jx/jx.array.js"></script>
	<script out="js/jx.all.js" src="js/jx/jx.string.js"></script>
	<script out="js/jx.all.js" src="js/jx/jx.http.js"></script>
	<script out="js/jx.all.js" src="js/jx/jx.format.js"></script>
	<script out="js/jx.all.js" src="js/jx/jx.ui.masklayer.js"></script>
	<script out="js/jx.all.js" src="js/jx/jx.ui.drag.js"></script>
	<script out="js/jx.all.js" src="js/jx/jx.console.js"></script>
	<script out="js/jx.all.js" src="js/jx/jx.cookie.js"></script>
	<script out="js/jx.all.js" src="js/jx/jx.mini.js"></script>
    <script out="js/jx.all.js" src="js/jx/jx.json.js"></script>

</body>
</html>
